.inner_block{
    background: #fff;
    margin: 0 10px;
    max-height: 440px;
    overflow-y: scroll;
}
.inner_wrapper{
    padding: 10px;
}
.slds-col{
    cursor: pointer;
}
.slds-size_1-of-3{
    width: 20% !important;
}
.slds-size_2-of-3{
    width: 79% !important;
}

.main_block{
    position: relative;
    width: 100%;
    height: 800px;
}
.table_caption{
    background: rgba(176, 196, 223, 1.0);
    height: 20px;
}
.select_width{
    width: 100%;
}

