.inner_block{
    background: #fff;
    margin: 0 10px;
    max-height: 440px;
    overflow-y: scroll;
}
.slds-col{
    cursor: pointer;
}
.slds-size_1-of-3{
    width: 20% !important;
}
.slds-size_2-of-3{
    width: 79% !important;
}

.main_block{
    position: relative;
    width: 100%;
    height: 600px;
}
